*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffff;
    margin: 0;


}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cornflowerblue;
    min-width: 700px;
}

.header h1 {
    color: #ffff;
    background-color: #ca3939;
    border-radius: 150px;
   padding: 30px;
   text-align: left;
   font-size: 72px;
   border-style: solid;   
}


.header img {
    display: flex;
    position: relative;
    float: right;
    border-radius: 15px;
    margin: 15px 60px;
    height: 120px;
}

li {
    display: inline;
    text-align: Center;
    list-style-type: none;
    
}

a {
    color: #ffff;
    font-size: 32px;
    font-family: monospace;
    padding: 0 15px 0 15px;
}

nav {
    text-align: right;
    margin: 15px 80px 0px 80px;
    
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  

.section {
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px 30px 120px;

}

h2 {
    color: #ca3939;
    text-decoration: underline;
}

.container {
    border-right: solid 2.5px cornflowerblue;
    padding: 25px 75px 25px 0;
    font-size: 250%;
    white-space: nowrap;
}

section p {
    margin-top: 20px;
    padding-left: 50px;
    font-size: 150%;
}

.work-container {
    border-right: solid 2.5px cornflowerblue;
    padding: 25px 155px 25px 0;
    margin-right: 50px;
    font-size: 250%;
}

.image {
    display: flex;
  align-items: center;
}

